html
	head
		title Modcraft
		link(rel="stylesheet", type="text/css", href="/style.css")
		script(type="text/javascript",src="/scripts/jquery.js")
		script(type="text/javascript",src="/scripts/fittext.js")
		script.
			$(document).ready(function(){
				//$(".title").fitText((1/10));
			});

	body
		div#container
			div#header
				h1 Modcraft
			div.step
				h2.title 1
				div.contents First, setup your Minecraft Forge development environment
